# Step 1: Load and Prepare Data

In [1]:
import pandas as pd

# Load the CSV file
file_path = "100_Sales.csv"  # Ensure the file is in the same directory
sales_data = pd.read_csv(file_path)

# Drop irrelevant columns (if they exist)
sales_data = sales_data.drop(columns=['Unnamed: 9', 'Unnamed: 10'], errors='ignore')

# Set a Multi-Index
multi = sales_data.set_index(['Region', 'Country'])

# Handle NaN values (Fill NaN with median for numerical columns)
multi = multi.fillna(multi.median(numeric_only=True))

# Display the data to verify
print("\nData after handling NaN values:")
print(multi.head())

Data after handling NaN values:
                                                               Item_Type  \
Region                            Country
Australia and Oceania             Tuvalu                       Baby Food
Central America and the Caribbean Grenada                         Cereal
Europe                            Russia                 Office Supplies
Sub_Saharan Africa                Sao Tome and Principe           Fruits
                                  Rwanda                 Office Supplies

                                                        Sales_Channel  \
Region                            Country
Australia and Oceania             Tuvalu                      Offline
Central America and the Caribbean Grenada                      Online
Europe                            Russia                      Offline
Sub_Saharan Africa                Sao Tome and Principe        Online
                                  Rwanda                      Offline

                                                        Order_Priority  \
Region                            Country
Australia and Oceania             Tuvalu                             H
Central America and the Caribbean Grenada                            C
Europe                            Russia                             L
Sub_Saharan Africa                Sao Tome and Principe              C
                                  Rwanda                             L

                                                          Ship_Date  \
Region                            Country
Australia and Oceania             Tuvalu                 27/06/2010
Central America and the Caribbean Grenada                15/09/2012
Europe                            Russia                 05/08/2014
Sub_Saharan Africa                Sao Tome and Principe  07/05/2014
                                  Rwanda                 02/06/2013

                                                         Unit_Cost  \
Region                            Country
Australia and Oceania             Tuvalu                    159.42
Central America and the Caribbean Grenada                   117.11
Europe                            Russia                    524.96
Sub_Saharan Africa                Sao Tome and Principe       6.92
                                  Rwanda                    524.96

                                                         Total_Revenue  \
Region                            Country
Australia and Oceania             Tuvalu                    2533654.00
Central America and the Caribbean Grenada                    576782.80
Europe                            Russia                    1158502.59
Sub_Saharan Africa                Sao Tome and Principe       75591.66
                                  Rwanda                    3296425.02

                                                         Total_Profit
Region                            Country
Australia and Oceania             Tuvalu                    951410.50
Central America and the Caribbean Grenada                   248406.36
Europe                            Russia                    224598.75
Sub_Saharan Africa                Sao Tome and Principe      19525.82
                                  Rwanda                    639077.50

# Step 2: Filtering Data

In [2]:
# Filter data for 'Europe' region
filtered_data = multi.xs('Europe', level='Region')

print("\nFiltered Data (Europe):")
print(filtered_data.head())

Filtered Data (Europe):
                Item_Type Sales_Channel Order_Priority   Ship_Date  Unit_Cost  \
Country
Russia    Office Supplies       Offline              L  05/08/2014     524.96
Bulgaria          Clothes        Online              M  06/03/2012      35.84
Norway          Baby Food        Online              L  28/06/2014     159.42
Portugal        Baby Food        Online              H  09/03/2015     159.42
Moldova     Personal Care        Online              L  05/10/2016      56.67

          Total_Revenue  Total_Profit
Country
Russia       1158502.59     224598.75
Bulgaria      182825.44     122865.12
Norway       1901836.00     714157.00
Portugal      324971.44     122029.78
Moldova       414371.10     127054.20

In [3]:
# Grouping by Region and performing operations
region_aggregation = multi.groupby(level='Region').agg({
    'Total_Revenue': ['sum', 'mean', 'std'],
    'Total_Profit': ['sum', 'mean', 'max'],
})
print(region_aggregation.loc['Europe'])  # Access Europe-specific results

Total_Revenue  sum     3.336893e+07
               mean    1.516770e+06
               std     1.548707e+06
Total_Profit   sum     1.108294e+07
               mean    5.037699e+05
               max     1.541705e+06
Name: Europe, dtype: float64

# Step 3: Aggregation Operations

In [4]:
# Sum operation using groupby
sum_aggregation = multi.groupby('Country')[['Unit_Cost', 'Total_Revenue', 'Total_Profit']].sum()

print("\nSum Aggregation:")
print(sum_aggregation)

Sum Aggregation:
                Unit_Cost  Total_Revenue  Total_Profit
Country
Albania             35.84      247956.32     166635.36
Angola             502.54     2798046.49     693911.51
Australia          673.86     2489933.49     576605.12
Austria            263.33     1244708.40     495007.89
Azerbaijan         788.29     4478800.21    1512926.83
...                   ...            ...           ...
The Gambia        1143.76     5449517.95    1385883.27
Turkmenistan      1027.50     5822036.20    1267258.40
Tuvalu             159.42     2533654.00     951410.50
United Kingdom     502.54      188452.14      46735.86
Zambia              97.44      623289.30     225246.90

[76 rows x 3 columns]

In [5]:
# Mean operation
mean_aggregation = multi.groupby('Country')[['Unit_Cost', 'Total_Revenue', 'Total_Profit']].mean()

print("\nMean Aggregation:")
print(mean_aggregation)

Mean Aggregation:
                Unit_Cost  Total_Revenue   Total_Profit
Country
Albania            35.840   2.479563e+05  166635.360000
Angola            502.540   2.798046e+06  693911.510000
Australia         224.620   8.299778e+05  192201.706667
Austria           263.330   1.244708e+06  495007.890000
Azerbaijan        394.145   2.239400e+06  756463.415000
...                   ...            ...            ...
The Gambia        285.940   1.362379e+06  346470.817500
Turkmenistan      513.750   2.911018e+06  633629.200000
Tuvalu            159.420   2.533654e+06  951410.500000
United Kingdom    502.540   1.884521e+05   46735.860000
Zambia             97.440   6.232893e+05  225246.900000

[76 rows x 3 columns]

In [6]:
# Max operation
max_aggregation =multi.groupby('Country')[['Unit_Cost', 'Total_Revenue', 'Total_Profit']].max()

print("\nMax Aggregation:")
print(max_aggregation)

Max Aggregation:
                Unit_Cost  Total_Revenue  Total_Profit
Country
Albania             35.84      247956.32     166635.36
Angola             502.54     2798046.49     693911.51
Australia          524.96     1904138.04     369155.00
Austria            263.33     1244708.40     495007.89
Azerbaijan         524.96     3162704.80    1257775.58
...                   ...            ...           ...
The Gambia         502.54     2011149.63     532885.74
Turkmenistan       524.96     3262562.10     634745.90
Tuvalu             159.42     2533654.00     951410.50
United Kingdom     502.54      188452.14      46735.86
Zambia              97.44      623289.30     225246.90

[76 rows x 3 columns]

In [7]:
# Standard Deviation operation
std_aggregation = multi.groupby('Country')[['Unit_Cost', 'Total_Revenue', 'Total_Profit']].std()
print("\nStandard Deviation Aggregation:")
print(std_aggregation)

Standard Deviation Aggregation:
                 Unit_Cost  Total_Revenue   Total_Profit
Country
Albania                NaN            NaN            NaN
Angola                 NaN            NaN            NaN
Australia       263.577242   9.426850e+05  159247.667326
Austria                NaN            NaN            NaN
Azerbaijan      185.000347   1.305750e+06  708962.462726
...                    ...            ...            ...
The Gambia      180.395863   6.664118e+05  150109.610323
Turkmenistan     15.853334   4.971583e+05    1579.252285
Tuvalu                 NaN            NaN            NaN
United Kingdom         NaN            NaN            NaN
Zambia                 NaN            NaN            NaN

[76 rows x 3 columns]

In [8]:
# Min operation
min_aggregation = multi.groupby('Country')[['Unit_Cost', 'Total_Revenue', 'Total_Profit']].min()

print("\nMin Aggregation:")
print(min_aggregation)

Min Aggregation:
                Unit_Cost  Total_Revenue  Total_Profit
Country
Albania             35.84      247956.32     166635.36
Angola             502.54     2798046.49     693911.51
Australia           31.79      140287.40      60418.38
Austria            263.33     1244708.40     495007.89
Azerbaijan         263.33     1316095.41     255151.25
...                   ...            ...           ...
The Gambia         117.11      435466.90     187545.03
Turkmenistan       502.54     2559474.10     632512.50
Tuvalu             159.42     2533654.00     951410.50
United Kingdom     502.54      188452.14      46735.86
Zambia              97.44      623289.30     225246.90

[76 rows x 3 columns]

In [9]:
median_aggregation = multi.groupby('Country')[['Unit_Cost', 'Total_Revenue', 'Total_Profit']].median()

print("\nMedian Aggregation:")
print(median_aggregation)

Median Aggregation:
                Unit_Cost  Total_Revenue  Total_Profit
Country
Albania            35.840     247956.320    166635.360
Angola            502.540    2798046.490    693911.510
Australia         117.110     445508.050    147031.740
Austria           263.330    1244708.400    495007.890
Azerbaijan        394.145    2239400.105    756463.415
...                   ...            ...           ...
The Gambia        262.055    1501450.710    332726.250
Turkmenistan      513.750    2911018.100    633629.200
Tuvalu            159.420    2533654.000    951410.500
United Kingdom    502.540     188452.140     46735.860
Zambia             97.440     623289.300    225246.900

[76 rows x 3 columns]